@import "tailwindcss";

/* Reset the entire browser environment */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
  overflow: hidden; 
  background-color: #020617; /* Deep space blue */
  font-family: 'Inter', sans-serif;
}