# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production / Builds
dist/
build/
*.local

# Environment Variables (CRITICAL: Do not leak your DB passwords)
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor specific
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS Files
.DS_Store
Thumbs.db